#
# will be used for CA cert generation and request signing
#

HOME            = .
RANDFILE        = $ENV::HOME/.rnd

[ ca ]
default_ca    = CA_default

[ CA_default ]
default_days     = 7300
default_crl_days = 30
default_md       = sha512
preserve         = no
x509_extensions = ca_extensions
email_in_dn     = no
copy_extensions = copy

base_dir      = .
certificate   = $base_dir/MYCOMPANY-cacert.pem
private_key   = $base_dir/MYCOMPANY-cakey.pem
new_certs_dir = $base_dir
database      = $base_dir/index.txt
serial        = $base_dir/serial.txt

unique_subject = no


[ req ]
default_bits       = 4096
default_keyfile    = MYCOMPANY-cakey.pem
distinguished_name = ca_distinguished_name
x509_extensions    = ca_extensions
string_mask        = utf8only
prompt = no

[ ca_distinguished_name ]
countryName = XX
stateOrProvinceName = XXX
localityName = XXX
OU = XXX
organizationName = XXX
commonName = XXX

[ ca_extensions ]
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always, issuer
basicConstraints       = critical, CA:true
keyUsage               = keyCertSign, cRLSign

[ signing_policy ]
countryName            = optional
stateOrProvinceName    = optional
localityName           = optional
organizationName       = optional
organizationalUnitName = optional
commonName             = supplied
emailAddress           = optional

[ signing_req ]
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid,issuer
basicConstraints       = CA:FALSE
keyUsage               = digitalSignature, keyEncipherment
